<!-- Modal -->
<div id="frmConfiguracao" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Configuração</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form">  
                    Número de vagas disponiveis:<input class="form-control" type="number" ng-model="configuracao.numVagasDisponiveis" autofocus />
                    Valor por hora:<input class="form-control" type="number" ng-model="configuracao.valorHora"/>
                    Valor da diária:<input class="form-control" type="number" ng-model="configuracao.valorDiaria"/>
                    Números de horas para diária:<input class="form-control" type="number" ng-model="configuracao.numHorasDiaria"/>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" ng-click="salvarConfiguracao(configuracao)">Salvar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>

