<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
            <!--<br/>
            Placa: <input type="text" ng-model="movimento.placa"/>
            Data/Hora Entrada: <input type="text" ng-model="movimento.dataHoraEntrada"/>
            <br/><br/>
            <button class="btn btn-primary" ng-click="limpar()">Limpar</button>
            <button class="btn btn-success" ng-click="gravar(movimento)">Gravar</button>


            <br/>
            <hr/>-->
            <button type="button" class="btn btn-primary btn-block" style="text-align: right">Vagas dísponiveis <span class="badge">70</span> de <span class="badge">100</span></button>
            <!--<table class="table">
                <tr ng-repeat="movimento in movimentos">
                    <td>{{movimento.placa}}</td>
                    <td>{{movimento.dataHoraEntrada | date:'hh:mm'}}</td>
                    <td><button class="btn btn-danger glyphicon glyphicon-trash" ng-click="deletar(movimento)"/> </td>
                    <td><button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="editar(movimento)"/></td>
                </tr>
            </table>-->
            
            <div class="panel panel-default col-xs-4" style="margin: 10px; width: 225px; height: auto; padding-bottom:10px " ng-repeat="movimento in movimentos">
                <div>
                  <h4 class="card-title">Ticket {{movimento.id | number}}</h4>
                  <!--<h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
                </div>
                <img style="width:200px; height: 200px" src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/car-icon.png" alt="Veiculo">
                <div>
                  <p>Placa {{movimento.placa}}</p>
                  <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="deletar(movimento)"/>
                  <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="editar(movimento)"/>
                 
                </div>
            </div>
            
            
        </div>

    </div>
</div>