<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary btn-block" style="text-align: right">Vagas dísponiveis <span class="badge">{{configuracoes.numVagasDisponiveis-movimentos.length}}</span> de <span class="badge">{{configuracoes.numVagasDisponiveis}}</span></button>
            
            <div class="input-group">                
                <input type="text" style="text-transform:uppercase" autofocus class="form-control" placeholder="Pesquisar pelo veiculo" aria-describedby="basic-addon1">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
            </div>
            
            <div class="panel panel-default col-xs-4" style="margin: 12px; width: 250px; height: auto; padding-bottom:10px " ng-repeat="movimento in movimentos">
                <div>
                  <h4>Ticket {{movimento.id | number}}</h4>
                </div>
                <a href="#" data-toggle="modal" data-target="#frmFinalizar" ng-click="obterDadosParaFinalizar(movimento)"><img style="width:200px; height: 200px;" src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/car-icon.png" alt="Veiculo"></a>
                <div>
                  <p><strong>Placa</strong> {{movimento.placa|uppercase}}</p>
                  <p><strong>Entrada</strong> {{movimento.dataHoraEntrada | date:'hh:mm'}}</p>
                  <button class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#frmExclusao" ng-click="selecionar(movimento)"/>
                  <button class="btn btn-primary glyphicon glyphicon-pencil" data-toggle="modal" data-target="#frmVeiculo" ng-click="selecionar(movimento)"/>
                  <button class="btn btn-success glyphicon glyphicon-ok" data-toggle="modal" data-target="#frmFinalizar" ng-click="obterDadosParaFinalizar(movimento)"/>
                </div>
            </div>
        </div>
        
        
        <!-- Modal -->
        <div id="frmVeiculo" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Entrada de veiculo</h4>
              </div>
              <div class="modal-body">
                Placa: <input style="text-transform:uppercase" type="text" ng-model="movimento.placa" autofocus />
                <br/><br/>
                
              </div>
              <div class="modal-footer">
                <!--<button class="btn btn-primary" ng-click="limpar()">Limpar</button>-->
                <button class="btn btn-success" data-dismiss="modal" ng-click="gravar(movimento)">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              </div>
            </div>

          </div>
        </div>
        
        <!-- Modal -->
        <div id="frmFinalizar" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Finalizar</h4>
              </div>
              <div class="modal-body">
                  <form role="form" class="form">  
                    Placa: <input disabled class="form-control" style="text-transform:uppercase" type="text" ng-model="movimento.placa"/>
                    Hora de Entrada: <input disabled class="form-control" style="text-transform:uppercase" type="text" ng-model="movimento.dataHoraEntrada | date:'hh:mm'"/>
                    Hora de Saída: <input disabled class="form-control" style="text-transform:uppercase" type="text" ng-model="movimento.dataHoraSaida | date:'hh:mm'"/>
                    Mensalista: <input disabled class="form-control" style="text-transform:uppercase" type="text" ng-model="movimento.mensalista.nome"/></br>
                    Total: <input disabled class="form-control" style="text-transform:uppercase" type="text" ng-model="movimento.valorPago"/>
                  </form>
                <br/><br/>
                
              </div>
              <div class="modal-footer">
                <!--<button class="btn btn-primary" ng-click="limpar()">Limpar</button>-->
                <button class="btn btn-success" data-dismiss="modal" ng-click="gravar(movimento)">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              </div>
            </div>

          </div>
        </div>
        
        <!-- Modal -->
        <div id="frmExclusao" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deseja excluir o veiculo de placa: {{movimento.placa}}</h4>
              </div>
              <div class="modal-footer">
                <!--<button class="btn btn-primary" ng-click="limpar()">Limpar</button>-->
                <button class="btn btn-danger" data-dismiss="modal" ng-click="deletar(movimento)">Excluir</button>
                <button type="button"  ng-click="limpar()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              </div>
            </div>

          </div>
        </div>

    </div>
</div>