<!-- Modal -->
<div id="frmMensalista" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensalista</h4>
      </div>
      <div class="modal-body">
          <form role="form" class="form">  
            Nome do Mensalista: <input class="form-control" style="text-transform:uppercase" type="text" ng-model="veiculo.mensalista.nome"/>
            Placa: <input class="form-control" style="text-transform:uppercase" type="text" ng-model="veiculo.placa"/>
          </form>
          
        <br/>
      </div>
        <!--<button class="btn btn-primary" ng-click="limpar()">Limpar</button>-->
      <div class="row">
        <div class="col-xs-12">
            <table class="table">                    
              <tr ng-repeat="veiculo in veiculos">
                  
                  <td>{{veiculo.placa | uppercase}}</td>
                  <td>{{veiculo.tipoVeiculo.descricao}}</td>
                  <td>{{veiculo.mensalista.nome | uppercase}}</td>
                  <td><button class="btn btn-danger glyphicon glyphicon-trash" ng-click="deletar(veiculo)"/> </td>
                  <td><button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="editar(veiculo)"/></td>
              </tr>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="gravar(veiculo)">salvar</button>
        <button class="btn btn-primary" ng-click="limpar()">Limpar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="limpar()">fechar</button>
      </div>
    </div>

  </div>
</div>
        

